html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/
#game-map {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-right-width: 2px;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-left-width: 2px;
    border-left-color: #ffffff;
    border-left-style: solid;
}

.pop_up_box_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: inline;
}
