html {
    height: 100%;
}

body {
    background-color: #CCC;
    height: 100%;
    margin: 0;
    padding: 0;

}

/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/
.game-map {
    border-left-color: #ffffff;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-right-width: 2px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.clue {

  overflow-x: hidden;
  text-align: center;
}
.clue h6 {
  margin-left: 1em;
}

.clueForm {
  margin: 1em;
  width: 100%;
}
.all-sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    background: goldenrod;
    background: url('../images/scissor.png') no-repeat;
    margin-top: 25px;
    border-radius: 0 !important;
}
.all-sliders+.thumb {
    background-color: #FF8A80 !important;
}

.all-sliders {
  height: 3px;
  margin: 2em;
  outline: none;
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
}

.slider1 {
  background-color: blue;
}

.slider2 {
  background-color: purple;
}

.slider3 {
  background-color: orange;
}

.slider4 {
  background-color: green;
}

.slider5 {
  background-color: red;
}

.clue1 {
  color: blue;
}

.clue2 {
  color: purple;
}

.clue3 {
  color: orange;
}

.clue4 {
  color: green;
}

.clue5 {
  color: red;
}
.gm-fullscreen-control {
  display: none;
}

.timer {
  align-self: flex-start;
  color: red;
  font-size: 2.5em;
  font-weight: bold;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

label {
  font-weight: bold;
}
.gm-svpc {
  display: none;
}
.modal-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
}
